.main {
  --color-stop: #e21143;
  --color-bot: #ffb03a;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.6em 28em 1.6em 31em;
  background-color: #222222;
}

.title {
  font-size: 1.3em;
}

.navBar {
  font-size: 0.8em;
  display: flex;
  justify-content: right;
  align-items: center;
  letter-spacing: 0.02em;
}

.navBar > a {
  padding: 0 2em;
}

.content {
  background-color: #161513;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  padding: 5em 30em 0;
  text-align: center;
}

.profilePicBorder {
  margin: 5em 0 2em;
  background-image: linear-gradient(60deg, var(--color-stop), var(--color-bot));
  padding: 3px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.profilePic {
  border-radius: 100%;
}

.heroDescription {
  font-size: 3.5em;
}

.fancyText {
  background-image: linear-gradient(60deg, var(--color-stop), var(--color-bot));
  background-clip: text;
  color: transparent;
}

.description {
  margin: 2em 0;
  color: #c5c5c5;
  letter-spacing: 0.02em;
}

.callToAction {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.callToAction > a {
  font-size: 1.3em;
  border-radius: 5em;
  padding: 0.6em 1.2em;
  color: #161513;
  background-color: #ffffff;
  border: solid 2px #ffffff;
}

.callToAction > a:last-child {
  background-color: #161513;
  color: #ffffff;
}

.experienceLabel {
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 4em 0 1em;
  letter-spacing: 0.12em;
  color: #c5c5c5;
}

.logos {
  color: #c5c5c5;
}

.detail {
  padding: 0 20.5em 4em;
}

.subheading {
  font-size: 2.3em;
  margin: 1em 0 2em;
  text-transform: uppercase;
}

.projects {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3em;
}

.project {
  overflow: hidden;
  background-color: #2a2a2a;
  border-radius: 1.2em;
  width: 390px;
}

.project > figcaption {
  padding: 0.8em 1.8em;
}

.project h3 {
  color: white;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.project p {
  color: #c5c5c5;
  font-size: 0.7em;
}

.greyFancyText {
  background-image: linear-gradient(to bottom, #fefefe 25%, 50%, #272624);
  background-clip: text;
  color: transparent;
}

.experience {
  color: #8491a0;
  font-size: 0.95em;
  margin-bottom: 3em;
}

.experience > hgroup {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.experience h3 {
  color: white;
  font-size: 1.4em;
  margin: 0 auto 0 1em;
}
