.main {
  --color-stop: #e21143;
  --color-bot: #ffb03a;
}

.navBar {
  font-size: 0.8em;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 2em 35em;
  background-color: #222222;
  letter-spacing: 0.02em;
}

.navBar > a {
  padding: 0 2em;
}

.content {
  height: 100%;
  padding: 0 30em;
  background-color: #161513;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profilePicBorder {
  margin: 5em 0 2em;
  background-image: linear-gradient(60deg, var(--color-stop), var(--color-bot));
  padding: 3px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
.profilePic {
  border-radius: 100%;
}

.heroDescription {
  font-size: 3.5em;
}

.fancyText {
  background-image: linear-gradient(60deg, var(--color-stop), var(--color-bot));
  background-clip: text;
  color: transparent;
}

.description {
  margin: 2em 0;
  color: #c5c5c5;
  letter-spacing: 0.02em;
}

.callToAction {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.callToAction > a {
  font-size: 1.3em;
  border-radius: 5em;
  padding: 0.6em 1.2em;
  color: #161513;
  background-color: #ffffff;
  border: solid 2px #ffffff;
}

.callToAction > a:last-child {
  background-color: #161513;
  color: #ffffff;
}

.experienceLabel {
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 4em 0 0;
  letter-spacing: 0.12em;
  color: #c5c5c5;
}

.logos {
  color: #c5c5c5;
}
